html, body {
    margin: 0;
    padding: 0;
}

#advancedIterativeMethods {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

.main-panel {
    margin-right: 350px;
    height: 100vh;
}

.middle-panel {
}

.top-panel {
    height: 4em;
    background: #f9f9f9;
    border-bottom: 1px #ccc solid;
}

.top-panel ul {
    float: left;
    display: inline-block;
}

.top-panel ul li {
    display: inline-block;
}

.top-panel ul li a {
    display: block;
    padding: 0 1em;
    line-height: 4em;
}

.top-panel ul li a:hover,
.top-panel ul li a:focus {
    text-decoration: none;
}

.inner-relative-block {
    position: relative;
}

.right-panel {
    position: absolute;
    overflow: hidden;
    width: 350px;
    height: 100vh;
    top: 0;
    right: 0;
    background: #f9f9f9;
    border-left: #ccc 1px solid;
}

.right-panel .header {
    padding-left: 1em;
    padding-top: .5em;
    font-size: 120%;
    font-weight: bold;
}

.right-panel .controls {
    display: inline-block;
    width: 350px;
    height: 4em;
    padding: 0 2em;
    line-height: 4em;
    border-bottom: #ccc 1px solid;
}

.right-panel .controls .status {
    float: left;
}

.right-panel .controls .control-buttons {
    float: right;
}

.right-panel .problemSelection {
    padding: 1em 2em;
}

.right-panel .fileManager .fileLoadLabel {
    margin-top: .2em;
    display: block;
    color: #09c;
    cursor: pointer;
}

.right-panel .fileManager input#filesToLoad,
.right-panel .fileManager p,
.right-panel .fileManager .fileLoadLabel {
    width: 100%;
    padding: .5em 1em;
}

.right-panel .fileManager ul {
    overflow-y: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5faff;
    border: #ddd 1px solid;
    border-width: 1px 0;
}

.right-panel .fileManager ul li {
    display: block;
    padding: .2em .5em;
}

.right-panel .fileManager ul li .remove {
    float: right;
    color: #f30;
    cursor: pointer;
}

.middle-panel {
    margin: 2em;
    padding: .2em;
}
