$top-panel-height: 41px;
$content-panels-height: calc(100vh - #{$top-panel-height});

$left-panel-width: 300px;
$right-panel-width: 250px;

$bg-secondary: #f9f9f9;
$bg-primary: #fff;
$border-color-primary: #ccc;

@mixin reset-offsets() {
    margin: 0;
    padding: 0;
    border-width: 0;
}

html, body {
    @include reset-offsets();
}

#advancedIterativeMethods {
    @include reset-offsets();
    width: 100%;
    height: 100vh;
    background: $bg-primary;
    // overflow: hidden;
}

.__router-view {
    @include reset-offsets();
    position: relative;
    height: $content-panels-height;
}

.center-panel {
    margin-left: $left-panel-width;
    margin-right: $right-panel-width;
}

.main-panel {
    height: $content-panels-height;
    overflow-y: auto;
}

.top-panel {
    background: $bg-secondary;
    border-bottom: 1px $border-color-primary solid;
}

.left-panel {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: $left-panel-width;
    height: 100%;
    bottom: 0;
    left: 0;
    background: $bg-secondary;
    border-right: $border-color-primary 1px solid;
}

.right-panel {
    position: absolute;
    overflow: hidden;
    width: $right-panel-width;
    height: 100%;
    bottom: 0;
    right: 0;
    background: $bg-secondary;
    border-left: $border-color-primary 1px solid;
}

.left-panel .component {
    padding: 1em 1em 0 1em;
}

.left-panel .header,
.right-panel .header {
    padding-left: 1em;
    padding-top: .5em;
    font-size: 120%;
    font-weight: bold;
}

.middle-panel {
    margin: 2em;
    padding: .2em;
    padding-bottom: 10em;
}
