
.toasted-container .toasted .action,
.toasted-container .toasted .action:hover {
    text-transform: uppercase;
    font-size: 12px;
}

.toasted.primary.success {
    background-color: #4cae4c;
}
.toasted.primary.info {
    background-color: #46b;
}
.toasted.primary.error {
    background-color: #d33;
}
