
.toasted-container .toasted {
    .svg-inline--fa {
        margin-right: .5em;
    }

    .action {
        &, &:hover {
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    &.primary.success {
        background-color: #4cae4c;
    }
    &.primary.info {
        background-color: #46b;
    }
    &.primary.error {
        background-color: #d43f3a;

        a {
            color: #000;
        }
    }
}
